/* Importar fuentes del proyecto */
/* Fuente de ejemplo "Poppins" */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Fuente IBM Plex Mono */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import 'tailwindcss';

html,
body {
    font-family: 'IBM Plex Mono', serif;
    overflow-x: hidden;
    background: #191919;
}

#root {
    max-width: 100vw;
}
div#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

/* Autocomplete inputs */
input:-webkit-autofill {
    background-color: #7a3e8f !important;
    -webkit-box-shadow: 0 0 0px 1000px #7a3e8f inset !important;
    -webkit-text-fill-color: white !important; /* Forzar texto en blanco */
    caret-color: white !important; /* Color del cursor */
}
